<div class="credential-input-container" onfocus="credentialInputOnFocus($event)">
    <form class="credential-input-form" >
        <div class="error-msg-container" ng-attr-id="{{errorMsgId}}">{{loginErrorMsg}}</div>
        <div>
            <h3>Log In</h3>
        </div>
        <div class="fill-width">
            <input class="user-input-box" ng-class="userInputStyle" type="text" ng-model="inputUsr" maxlength="254" tabindex="1"
                    autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="{{usernamePlaceholder}}" ng-change="usernameOnChange()">
        </div>
        <div class="fill-width">
            <input class="pwd-input-box" ng-class="passInputStyle" type="password" ng-model="inputPwd" minlength="1" maxlength="100" tabindex="2"
                    autocomplete="off" placeholder="{{passwordPlaceholder}}" ng-change="passwordOnChange()">
        </div>
        <!--<div class="remember-username-container" ng-show="isShowRememberMe"><input id="rememberChkbx" type="checkbox" ng-model="rememberUsernameFlag"  ng-change="checkedOnChange()"> Remember username </div>-->
        <submit-button config="loginButtonConfig"></submit-button>
    </form>
</div>