.credential-input-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .credential-input-form {
    width: 100%;
    padding: 10px;
  }

  @mixin setBoxSize {
    height: 35px;
  }

  .error-msg-container {
    @extend .centered-flex;
    @extend .Form-Element-Error-Message;
    height: 35px;
  }

  .user-input-box, .pwd-input-box {
    display: block;
    @include setBoxSize;
    width: calc(100% - 30px);
    margin-bottom: 9px;
    padding-left: 20.5px;
    line-height: 1;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @extend .Placeholder-Text;
    }
    //&::-moz-placeholder { /* Firefox 19+ */
    //  @extend .Placeholder-Text;
    //}
    //&:-ms-input-placeholder { /* IE 10+ */
    //  @extend .Placeholder-Text;
    //}
    //&:-moz-placeholder { /* Firefox 18- */
    //  @extend .Placeholder-Text;
    //}
  }

  .remember-username-container {
    color: $pureWhite;
  }

  .error-input {
    background-color: #FEEAEC;
    border: 1px solid $error;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $error;
    }
  }


  .login-btn {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: $highlight;
    @include setBoxSize;
    color: $pureWhite;
    margin-top: 40px;
    @extend .Button-Text;
    margin-bottom: 5.5px;
  }

  h3 {
    @extend .Headline-1;
    color: $pureWhite;
    //margin-top: 93px;
    line-height: 1.27;
  }
}

